body {
  background-color: #ebebeb;
  width: 100%;
  font-family: "Lucida Grande", sans-serif;
  padding-left: 0;
  padding-right: 0;
  overflow-y: scroll; }

div {
  background-color: transparent; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.CodeMirror-scroll {
  height: 100%; }

.splitter {
  width: 2px;
  height: 100%;
  background-color: #00000; }

.small-console-animated {
  height: 200px;
  /*bottom: 180px;*/ }

[class*="span"], .row-fluid [class*="span"] {
  float: left; }

[class*="icon-"] {
  margin: 0 5px 0 5px; }

a img {
  height: 20px; }

.close {
  position: relative;
  left: 4px;
  top: -3px; }

.CodeMirror {
  height: 100%;
  background-color: #F7F7F7;
  font-size: 14px; }

.CodeMirror-wrap {
  height: 100%; }

.CodeMirror-gutter {
  font-size: 14px; }

#shareDoc {
  background: transparent;
  border: 0;
  color: #FFFFFF;
  cursor: pointer; }
  #shareDoc span {
    margin-left: 5px; }

.navbar {
  margin-bottom: 0; }

.navbar-inner {
  background-image: transparent; }

.tabbable {
  height: 100%; }

#editor-area .tab-content {
  border: 1px solid rgba(0,0,0,.05); }

#left-items {
  margin: 0;
  min-width: 100px;
  overflow: hidden; }

#editor-area {
  position: absolute;
  margin-left: 1px;
  min-width: 500px; }

#editor {
  padding: 0;
  width: 100%;
  height: 750px; }

#right-items {
  clear: both;
  position: absolute;
  margin: 0; }

#comment {
  margin-left: 20px;
  min-width: 150px;
  z-index: 501;
  border: 1px solid #aaaaaa;
  margin-top: 60px; }
  #comment img {
    width: 24px;
    height: 24px;
    float: left;
    position: relative; }
  #comment div {
    background-color: white;
    font-size: 12px;
    font-weight: bold; }
    #comment div div {
      font-size: 12px;
      font-weight: bold; }

#small-console {
  display: block;
  position: relative;
  height: 20px;
  z-index: 11;
  -webkit-transition: all .5s ease;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(0.6, #333333)); }

/*#big-console {*/
/*display: none;*/
/*position: absolute;*/
/*height: 200px;*/
/*z-index: 12;*/
/*background-color: #000000;}*/
