body {
  background-color: #ebebeb;
  width: 100%;
  font-family: "Lucida Grande", sans-serif;
  padding-left: 0;
  padding-right: 0;
  overflow-y: scroll; }

div {
  background-color: transparent; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.CodeMirror-scroll {
  height: 100%; }

.left-splitter {
  width: 5px;
  float: left;
  left: 207px;
  background-color: #B2B2B2; }

.left-splitter-collapse-button {
  position: relative;
  cursor: pointer;
  width: 5px;
  height: 30px;
  background-color: #1A1A1A; }

.right-splitter {
  position: absolute;
  width: 5px;
  float: left;
  background-color: #B2B2B2; }

.right-splitter-collapse-button {
  position: relative;
  cursor: pointer;
  width: 5px;
  height: 30px;
  background-color: #1A1A1A; }

.small-console-animated {
  height: 200px; }

[class*="span"], .row-fluid [class*="span"] {
  float: left; }

[class*="icon-"] {
  margin: 0 5px 0 5px; }

a img {
  height: 20px; }

.close {
  position: relative;
  left: 4px;
  top: -3px; }

.CodeMirror {
  height: 100%;
<<<<<<< HEAD
  background-color: #F7F7F7;
  font-size: 13px; }
=======
  font-size: 14px; }
>>>>>>> bf17959dcfb40d028072a096c57cb20bf9d8bc51

.CodeMirror-wrap {
  height: 100%; }

.CodeMirror-gutter {
  font-size: 13px; }

#shareDoc {
  background: transparent;
  border: 0;
  color: #FFFFFF;
  cursor: pointer; }
  #shareDoc span {
    margin-left: 5px; }

.navbar {
  margin-bottom: 0; }

.navbar-inner {
  background-image: transparent; }

.tabbable {
  height: 100%; }

#left-items {
  margin: 0 5px 0 5px;
  min-width: 205px;
  overflow: hidden; }

#editor-area {
  position: absolute;
  margin-left: 1px;
  margin-right: 5px;
  min-width: 500px; }
  #editor-area .tab-content {
    border: 1px solid #D1D1D1; }

#editor {
  padding: 0;
  width: 100%;
  height: 750px; }

#right-items {
  position: absolute;
  margin: 0; }

#comment {
  margin-left: 20px;
  min-width: 150px;
  max-width: 250px;
  border: 1px solid #aaaaaa;
  margin-top: 60px; }
  #comment img {
    width: 24px;
    height: 24px;
    float: left;
    position: relative; }
  #comment div {
    background-color: white;
    font-size: 12px;
    font-weight: bold; }
    #comment div div {
      font-size: 12px;
      font-weight: bold; }

#small-console {
  display: block;
  position: relative;
  height: 20px;
  z-index: 11;
  -webkit-transition: all .5s ease;
  padding-top: 3px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(0.6, #333333)); }
