extends layout

block content  
  .container   
    .span4.offset4
      h2 #{title}
      p Welcome to #{title} 
      form.well.form-inline(method='post', action='/login')
        input.input-medium(type='text', name='user_name', placeholder='User Name')
        input.input-medium(type='password', name='user_password', placeholder='Password')
        button.btn.btn-primary Login