doctype 5
html
  head
    title= title         
    link(rel='icon', href='/assets/img/icon.png')
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/site.css')
  body
    block content